.bg-image{
    background-image: linear-gradient(135deg, #121212 -14.42%, rgba(18, 18, 18, 0.00)100% ),url(./img/night-sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*{
    font-family: 'roboto', sans-serif;
}

.box{
    cursor: pointer;
    
}